/*CONTENT*/
.wa-container{
    height: 90vh;
    z-index: 1;
}
.background{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
}
.color-1{

    height: 15vh;
    background-color: hsl(174deg 100% 29%);

}
.color-2{
    height: 85vh;
    background-color: hsl(90deg 8% 85%);
}
.contacts-container{
    flex-grow: 1;
}
#root{
    height: 100vh;
}
.user{
    background-color: hsl(0deg 0% 92%);
}
.notification{
   background-color: hsl(199deg 95% 77%);
}
.notification h3{
    font-size: 12px;
}
.notification a{
    color: hsl(190deg 6% 43%);
    font-size: 12px;
}
.notification i{
    font-size: 20px;
    color: white;
}
.user-info{
    cursor: pointer;
    background-color: white;
}
.bell{
    padding: 10px;
    border-radius: 50%;
    background-color: white;
}
.bell i{
    color:hsl(199deg 95% 77%);
}
.user .user-info{
    background-color: hsl(0deg 0% 92%);
}
.user-info img{
    height: 50px;
    border-radius: 50%;
}
.user i{
    color: hsl(0deg 0% 69%);
    font-size: 20px;
    margin: 0px 4px;
}
.contacts-list{
    overflow-y: scroll;
    background-color: white;
    flex-grow: 1;
}
.search{
    background-color: hsl(0deg 0% 98%);
}
.search i{
    color:hsl(0deg 0% 69%);

}
.search input{
    width: 100%;
    margin: 7px 0;
    padding: 8px 0;
    font-size: 12px;
}
.chat-container{
    background-image: url("img-bolzapp/mine.jpg");
}

.info p,.time p{
    color:hsl(216deg 5% 78%);
    font-size: 12px;
}
.chat-actions{
    background-color: hsl(27deg 27% 94%);
}
.chat-actions i{
    color: hsl(196deg 5% 44%);
}
.chat-actions input{
    height: 40px;
    border-radius: 5px;
}
.info-user-chat p{
    font-size: 12px;
    color: hsl(200deg 4% 71%)
}
.message{
    max-width: 300px;
    color: black;
    border-radius: 8px;
    font-size: 12px;
}
.sent{
    background-color: hsl(94deg 84% 85%);
    align-self: end;
}
.received{
    background-color: white;
    align-self: start;
}
.chat{
    overflow-y: scroll;
}
.chat .time p{
    font-size: 10px;
}
