/*CONTENT*/
.user{
    background-color: hsl(0deg 0% 92%);
}
.notification{
   background-color: hsl(199deg 95% 77%);
}
.notification h3{
    font-size: 12px;
}
.notification a{
    color: hsl(190deg 6% 43%);
    font-size: 12px;
}
.notification i{
    font-size: 20px;
    color: white;
}
.bell{
    padding: 10px;
    border-radius: 50%;
    background-color: white;
}
.bell i{
    color:hsl(199deg 95% 77%);
}
.user-info img{
    height: 50px;
    border-radius: 50%;
}
.user i{
    color: hsl(0deg 0% 69%);
    font-size: 20px;
    margin: 0px 4px;
}
.search{
    background-color: hsl(0deg 0% 98%);
}
.search i{
    color:hsl(0deg 0% 69%);

}
.search input{
    width: 100%;
    margin: 7px 0;
    padding: 8px 0;
    font-size: 12px;
}
.chat-container{
    background-image: url("img-bolzapp/mine.jpg");
    height: 93vh;
}

.info p,.time p{
    color:hsl(216deg 5% 78%);
    font-size: 12px;
}
.chat-actions{
    background-color: hsl(27deg 27% 94%);
}
.chat-actions input{
    height: 40px;
    width: 80%;
    border-radius: 5px;
}
.info-user-chat p{
    font-size: 12px;
    color: hsl(200deg 4% 71%)
}
.message{
    max-width: 300px;
    color: black;
    border-radius: 8px;
    font-size: 12px;
}
.sent{
    background-color: hsl(94deg 84% 85%);
}
.received{
    background-color: white;
}
.chat .time p{
    font-size: 10px;
}